.new-dev {
  width: 300px;
  min-height: 370px;
  border: 1px solid black;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.link {
  text-decoration: none;
  color: coral;
  margin: 15px;
  margin-top: 15px;
}
.new-dev label {
  color: green;
  margin-bottom: 5px;
}
.new-dev input {
  padding: 3px 1px;
  margin-bottom: 5px;
  width: 97%;
  border-radius: 5px;
  border: 1px solid green;
}
.email {
  margin-bottom: 0 !important;
}
.message {
  margin-top: 0;
  font-size: 10px;
}
.success {
  color: blue;
}
.error {
  color: red;
}
.new-dev .submit {
  margin-left: 35%;
  color: green;
  cursor: pointer;
  background-color: lightgray;
  border-radius: 20px;
  padding: 5px 15px;
}
