.home-page {
  width: 100%;
}
.home-page h2 {
  padding: 30px;
  color: green;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.header button {
  color: green;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid green;
  padding: 10px 15px;
  margin-left: 10px;
}
.developers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}
