.dev-card {
  padding: 20px 20px 0 20px;
  border: green solid 1px;
  color: black;
  width: 25%;
  margin: 10px 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.dev-card:hover {
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 140, 0, 0.51);
  box-shadow: 0px 0px 23px 0px rgba(0, 140, 0, 0.51);
}

.dev-card img {
  border-radius: 50%;
  height: 30%;
  width: 30%;
}

.dev-card .top {
  display: flex;
  justify-content: space-evenly;
}

.dev-card .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dev-card p {
  margin: 5px;
}

.dev-card .options {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.dev-card .options .delete {
  color: red;
}

.hover {
  cursor: pointer;
}
.show-details {
  color: lightskyblue;
}
.edit {
  color: coral;
}
